<template>
  <div class="columns__item">
    <input type="text" v-model.trim="searchQuery"/>
    <ul class="list">
      <marks-list-item
          v-for="(mark, index) in filteredItems"
          :key="mark.id"
          :itemData="mark"
      >
      </marks-list-item>
    </ul>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import MarksListItem from "@/components/MarksList/MarksListItem.vue";
import {CarMark} from "@/store/modules/carMarks/types";
import {mapGetters} from "vuex";

const namespace: string = 'carMarks';

@Component(
    {
      components: {
        MarksListItem
      },

      computed: {
        ...mapGetters(`${namespace}`, {
          carMarks: 'getActualList',
        }),

      },
      methods: {}
    }
)
export default class MarksList extends Vue {

  carMarks!: CarMark[];
  searchQuery: string = '';


  get filteredItems(): CarMark[] {

    let substr = this.searchQuery.toLowerCase();

    if(!substr.length) return this.carMarks;

    let maxOccsArray: Array<{index: number, id: number, maxOcc: number}> = [];
    let resultArray: CarMark[] = [];

    this.carMarks.forEach((el: CarMark, index: number) => {

      const parentName = el.name.toLowerCase();
      const occA = parentName.match(new RegExp(substr, "g"));
      let parentOccCount = occA ? occA.length : 0;
      let itemsArr = el.items.slice();
      let childMaxOcc = itemsArr.sort((a, b) => {
        let childAName = a.name.toLowerCase();
        let childBName = b.name.toLowerCase();
        let childOccA = childAName.match(new RegExp(substr, "g"));
        let childOccB = childBName.match(new RegExp(substr, "g"));
        let childAOccCount = childOccA ? childOccA.length : 0;
        let childBOccCount = childOccB ? childOccB.length : 0;
        return childBOccCount - childAOccCount;
      })[0];
      const childMaxName = childMaxOcc ? childMaxOcc.name.toLowerCase() : '';
      let childOcc = childMaxOcc ? childMaxName.match(new RegExp(substr, "g")) : [];
      let childOccCount = childOcc ? childOcc.length : 0;
      const maxOcc = Math.max(parentOccCount, childOccCount);
      if (maxOcc > 0) {

        maxOccsArray.push({index, id: el.id, maxOcc});
      }
    })
    resultArray = maxOccsArray.sort((a, b) => {
        return b.maxOcc - a.maxOcc
    }).map((el) => {
      return this.carMarks[el.index];
    })
    return resultArray;


  }


}
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  width: 200px;
}

li {
  display: block;
  margin: 0 10px;
}

</style>
