<template>
  <li class="list__item">
    <span v-text="itemData.name"></span>
    <button @click="handleClick">remove</button>
  </li>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {Action, CarMark, IPayload} from "@/store/modules/carMarks/types";
import {mapActions} from "vuex";

const namespace: string = 'carMarks';

@Component(
    {
      methods: {
        ...mapActions(`${namespace}`, {
          moveItem: 'moveItem'
        })
      }
    }
)
export default class SelectedMarksListItem extends Vue {
  moveItem!: (payload: IPayload) => void;

  @Prop() private itemData!: CarMark;


  handleClick() {
    this.moveItem({action: Action.Remove, item: this.itemData})
  }
}
</script>

<style scoped lang="scss">

</style>
