<template>
  <div class="columns__item">
    <ul class="list">
      <list-item
          v-for="(mark, index) in carMarks"
          :key="mark.id"
          :itemData="mark"
      >
      </list-item>
    </ul>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {CarMark} from "@/store/modules/carMarks/types";
import {mapGetters} from "vuex";

import SelectedMarksListItem from "@/components/SelectedMarksList/SelectedMarksListItem.vue";

const namespace: string = 'carMarks';

@Component(
    {
      components: {
        'list-item': SelectedMarksListItem
      },

      computed: {
        ...mapGetters(`${namespace}`, {
          carMarks: 'getAddedList',
        }),

      },

    }
)
export default class SelectedMarksList extends Vue {
  carMarks!: CarMark[];


}
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  width: 200px;
}

li {
  display: block;
  margin: 0 10px;
}

</style>
