<template>
  <div class="column">
    <history-list :action="action"></history-list>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import HistoryList from "@/components/History/HistoryList.vue";

Component.registerHooks([
  'beforeRouteEnter'
])


@Component({
  components: {
    HistoryList
  },
})
export default class History extends Vue {

  action: string = '';

  beforeRouteEnter(to: any, from: any, next: any) {
    next((vm: History) => {
      to.query.hasOwnProperty('action') ? vm.action = to.query.action : null;
    })
  }
}
</script>

<style scoped lang="scss">
.column {
  display: flex;
  flex-direction: row;
}
</style>
