<template>
  <div>
    <div class="nav">
      <router-link to="/history">History</router-link>
      <router-link to="/history?action=add">Add History</router-link>
      <router-link to="/history?action=remove">Remove History</router-link>
    </div>
    <div class="columns">
      <marks-list></marks-list>
      <selected-marks-list></selected-marks-list>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {mapGetters, mapActions} from 'vuex'
import MarksList from "@/components/MarksList/MarksList.vue";
import {CarMark} from "@/store/modules/carMarks/types";
import SelectedMarksList from "@/components/SelectedMarksList/SelectedMarksList.vue";

const namespace: string = 'carMarks';

@Component({
  components: {
    SelectedMarksList,
    MarksList,
  },
  computed: {
    ...mapGetters({
      isDataFetched: `${namespace}/getIsDataFetched`
    })
  },
  methods: {
    ...mapActions({
      fetchMarks: `${namespace}/fetchMarks`
    })
  }

})
export default class Index extends Vue {
  fetchMarks!: () => CarMark[];
  isDataFetched!: boolean;

  created(): void {
    this.isDataFetched === false ? this.fetchMarks() : null;
  }


}
</script>

<style lang="scss">
.nav a {
  margin-left: 10px;
  margin-right: 10px;
}

.columns {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__item {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      right: 0;
    }

    ul {
      margin-top: 30px;
    }
  }
}
</style>
