<template>
  <div class="column__item">
    <ul class="list">
      <list-item
          v-for="(item, index) in filteredHistoryItems"
          :key="`${item.id}-${index}`"
          :itemData="item"
      >
      </list-item>
    </ul>

  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {HistoryItem} from "@/store/modules/carMarks/types";
import {mapGetters} from "vuex";

import HistoryListItem from "@/components/History/HistoryListItem.vue";

const namespace: string = 'carMarks';

@Component(
    {
      components: {
        'list-item': HistoryListItem
      },

      computed: {
        ...mapGetters(`${namespace}`, {
          historyItems: 'getHistoryList', // -> this.someGetter
        }),

      },

    }
)
export default class HistoryList extends Vue {

  @Prop() private action!: string;

  historyItems!: HistoryItem[];

  get filteredHistoryItems() {
    return this.action ? this.historyItems.filter((el: HistoryItem) => {
      return el.action === this.action;
    }) : this.historyItems;
  }

}
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  width: 200px;
}

li {
  display: block;
  margin: 0 10px;
}

</style>
