<template>
  <li class="history-list__item">
    <span v-text="itemData.id"></span> <br>
    <span v-text="itemData.name"></span> <br>
    <span v-text="itemData.action"></span> <br>
    <span v-text="itemData.date"></span>
  </li>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {HistoryItem} from "@/store/modules/carMarks/types";

@Component
export default class HistoryListItem extends Vue {
  @Prop({required: true}) readonly itemData!: HistoryItem


}
</script>

<style scoped lang="scss">

.history-list__item {
  margin-bottom: 20px;
}

</style>
